.bg-nav{
    background-color:  #2874f0;
}
.navbar{
    padding: 0.20em 10em !important;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 50px;
    display: flex;
    top: 0;
}
.img-1{
    height: 20px;
    width: 75px;
}
.img-2
{
    height: 20px;
    line-height: 0.9;
  
}
.img-2 span{
    color: white;
    font-size: 0.7rem;
    font-style: italic;
}
.search_btn{
    position: relative;
}
.search_btn button{
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(-2%,-50%);
    color: #2874f0;
    font-size: 1.3rem;
}
.sub_menu>ul>li>a,
.sub_menu>ul>li>a:hover{
    color: white;
    padding-right: 30px;
}
.sub_menu>ul>li{
    margin: 0 1.0em;
}
.login{
    color: #2874f0 !important;
    background-color: white;
    width: 100px;
    text-align: center;
    height: 35px;
}
.navbar-brand{
    margin-left: 10px;
}

.heading_categories{
    margin-top: 45px;
    background: #fff;
    justify-content: center;
    min-height:112px ;
    border-bottom: 2px solid lightgray;
}

.heading_category_list{
    list-style: none;
    max-width: 1280px;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.heading_category_items{
    padding: 0px 8px;
    text-align: center;
}
.heading_item_name {
    font-size: 12px;
}

.cat_image{
    height: 64px;
    width: 64px;
    margin-bottom: 3px;
}

.section{
    height: auto;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 /8%);
}

.first_card{
    height: 290px;
    width: 90%;
    margin: 0.3em auto;
    display: flex;
}

.subcard{
    height: 100%;
    height: 270px;
    width: 83%;
    box-shadow: 2px 4px rgb(0 0 0 /8%);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    /* border-bottom: 2px solid lightgray; */
}
.subcard_header,.subcard2_header{
    height: 20%;
    display: flex;
    box-shadow:  2px 1px  rgb(0 0 0 /8%);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.adcard{
    height: 95%;
    width: 15%;
    box-shadow:  2px 4px  rgb(0 0 0 /8%);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-left: 10px;
    z-index: 100;
}

.subcard_title{
    width: 23%;
    border: gray;
    padding-left: 10px;
    margin-top: 5px;
}

.subcard_time{
    width:85%;
    padding: 2px;
    margin-top: 5px;
}

.subcard_button{
    width: 15%;
    padding-top: 7px;
}

.subcard_footer{
    height: 80%;
    display: flex;
}
.Card_items{
    text-align: center;
    width: 20%;
    padding:9px 5px ;
}
.card_image{
    height: 70%;
    width: auto;
    margin: auto;
}

.item_description{
    height: 30%;
    text-align: center;
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
}

.card_item_name,.card_item_offer{ 
    height: 0%;
}

.card_item_offer{
    color: rgba(19, 134, 19, 0.89);
}
.card_item_description{
    color: grey;
}
.subcard2_title{
    width:115%;
    padding-left: 10px;
    line-height: 0rem;
    font-size: 13px;
}
.subcard2_button{
    width: 10%;
    padding-top: 7px;
}

.subcard2{
    height: 100%;
    height: 270px;
    width: 100%;
    box-shadow:  2px 4px  rgb(0 0 0 /8%);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.subcard2_footer{
    height: 80%;
    display: flex;
}
.Card2_items{
    text-align: center;
    width: 15%;
    padding:9px 5px ;
}

.next{
    position:absolute;
    right: 0;
    box-shadow: 0 0 1px black;
    border-radius: 2px;
    z-index: 999;
    margin-right: 20%;
    height: 80px;
    margin-top: 50px;
}

.next button{
    height: 80px;
    width: 40px;
    border-radius: 2px;
    border: 0;
    font-size: 2rem;
    cursor: pointer;
}